@import "./general-sans.css";
@import "tailwindcss";

@theme {
  --color-warm-grey: #E6E5E0;
  --color-box-grey: #D1D1CD;
  --color-accent-red: #FF5A5A;
  
  --font-sans: 'General Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-warm-grey);
  color: #1A1A1A;
  font-family: var(--font-sans);
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

b, strong {
  font-weight: 600;
}
